#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 10px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.temperature-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
